body {
    background-color: rgb(230, 230, 230);
}

.icon {
    margin-right: 15px;
}

.phone {
    padding-top: 10px;
}

.embl {
    padding-right: 80px;
}

.container p {
    color: #838383;
}

.dop {
    background-color: black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.text {
    color: white;
    font-size: 30px;
    padding-top: 80px;
    letter-spacing: 1px;
}

.navbar {
    margin-bottom: 40px;
}

.card-img-top {
    width: 60%;
    height: 50%;
    padding-top: 20px;
}

.ds-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ds-left-center {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.card-title {
    letter-spacing: 1px;
}

.bord-l {
    padding-left: 15px;
}

.hr-dashed {
	margin: 20px 0;
	border-top: 3px dashed #666666;
}

.rating {
    width: 23.33px;
    height: 21.96px;
}

.img-responsive {
    width: 219.61px;
    height: 237.45px;
}

s {
    text-decoration-color: red;
}

.footer-bg {
     background-color: white;
     border-radius: 10px;
}


.a-list a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.language a {
    color: black;
    text-decoration: none;
}

.language {
    text-align: center;
}

.footer-icons a {
    margin-right: 18px;
}

.padd {
    padding-bottom: 50px;
}

.basket {
    text-align: center;
    margin-top: 200px;
}

.basket h5 {
    letter-spacing: 1px;
}

.button-basket a {
    text-decoration: none;
    color: white;
    padding: 120px;
}

.text-service {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
}

.text-service p  {
    padding: 12px;
    text-align: justify;
    color: black;
}

.text-service h5  {
    padding: 10px;
}

.map {
    background-color: white;
     border-radius: 10px;
     padding: 30px;

}

.photo {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.list-icons li {
    padding-bottom: 30px;
    padding-left: 40px;
}

.list-icons img {
    width: 9%;
    height: 9%;
}

.namber span {
    font-size: 20px;
}

.auto {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}

.auto img {
    padding: 6px;
}

.info span {
    line-height: 5px;

}

.info {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;

}

.info {
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.button-info {
    display: block !important;
    text-decoration: none;
    color: white;
    min-width: 20px;
    margin: 20px;
}

.delivery {
    background-color: white;
    border-radius: 20px;
    width: 440px;
    padding: 20px;
    
}

.sum {
    background-color: white;
    border-radius: 20px;
    width: 350px;
    height: 160px;
    padding: 18px;
    margin-bottom: 19px;
}

.sum p {
    color: black;
}

.sum span {
    float: right;
}


